html {
	width: 100%;
}
body {
	width: 100%;
}
.container {
	margin: 0 auto;
	width: 80%;
}

.clickable {
	cursor: pointer;
}

.hide {
	display: none;
}

/* Remedy for "href" */
.nav, .pagination, .carousel, .panel-title, a { cursor: pointer; }

select.input-xsm { 
	height:24px; 
}

.timepicker-container {
	margin: 0 auto;
	width: 50%;
}
dd {
	margin: 5px 0 0 5px;
}
.share-link {
	margin: 0 0 0 10px;
}

.additem-container {
	margin: 0 auto;
	width: 38%;
}