<div>
  <div class="status good" ng-show-auth="login">Hello, {{auth.user.displayName}}!</div>
  <button type="button" id="logout" ng-click="logout()" ng-show-auth="login" class="btn btn-danger navbar-btn">Sign out</button>
  </div>
  <button type="button" id="login" ng-click="login()" ng-show-auth="logout" class="btn btn-primary navbar-btn">Sign in with Facebook</button>
</div>
<p class="status" ng-show-auth="logout">Not logged in yet...</p>
<p class="status error" ng-show-auth="error">{{auth.error}}</p>
<a ng-click="addStoreMenu()">add menu</a>
<a ng-click="popOrderModal('sm')" class="glyphicon glyphicon-plus"></a>
{{hashToArray(orders)}}
<accordion close-others="accordion.oneAtATime">
  <accordion-group data-hash="{{order.hash}}" is-open="order.open" ng-repeat="order in hashToArray(orders) | orderBy:'-timestamp':reverse"  ng-class="isActiveCSS(order.timestamp, order.timelimit)">
      <accordion-heading>
        {{order.store}}<a href="/#/order/{{order.hash}}" ng-show="isActive(order.timestamp, order.timelimit)" class="glyphicon glyphicon-share share-link" popover-trigger="mouseenter" popover-placement="right" popover="Copy to Share"></a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': order.open, 'glyphicon-chevron-right': !order.open}"></i>
      </accordion-heading>
      <div>
        <p>{{getDateTime(order.timestamp, 0)}} 開單，{{getDateTime(order.timestamp, order.timelimit)}} 截止<a ng-click="removeOrder(order.hash)" class="pull-right glyphicon glyphicon-remove-circle"></a></p>
      </div>
      <table class="table">
        <thead>
          <tr>
            <!-- <td>Debugging</td> --><td></td><td>品項</td><td>甜度</td><td>冰塊</td><td>大小</td><td>單價</td><td>數量</td><td>總價</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in hashToArray(order.items) | orderBy:'-name'">
            <!-- <td>{{item}}</td> -->
            <td><a ng-show="isActive(order.timestamp, order.timelimit)" ng-click="addItem(order.storeId, order.hash, item, 5)" class="glyphicon glyphicon-plus-sign text-warning"></a></td>
            <td>{{item.name}}</td>
            <td>
  	       	  <progressbar max="10" type="warning" value="item.sugar" type="warning">{{analog.sugar[item.sugar]}}</progressbar>
            </td>
            <td>
                <progressbar max="10" type="info" value="item.ice" type="warning">{{analog.ice[item.ice]}}</progressbar>
            </td>
            <td>{{analog.size[item.size]}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.quantity * item.price}}</td>
          </tr>
          <tr ng-show="isActive(order.timestamp, order.timelimit)" >
            <td><a ng-click="addItem(order.storeId, order.hash)" class="glyphicon glyphicon-plus-sign"></a></td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          </tr>
        </tbody>
      </table>
    </accordion-group>
  </accordion>